#footer
  display: grid
  justify-content: top
  align-items: top
  grid-template-columns: 1fr auto auto 1fr
  @media (max-width 1800px)
    grid-template-columns: 1fr auto auto 1fr
  @media (max-width 1200px)
    grid-template-columns: 1fr auto auto 1fr
  @media (max-width 900px)
    grid-template-columns: 1fr 1fr
  @media (max-width 600px)
    grid-template-columns: 1fr
  @media (max-width 450px)
    grid-template-columns: 1fr 



  background: #1e3c72
  background: -webkit-linear-gradient(to left, #2a5298, #1e3c72) 
  background: linear-gradient(to left, #2a5298, #1e3c72)
  padding: 20px 10px
  border-top: 1px solid color-border
  color: color-grey
  .link
    color: #fff
    font-size: 1.4em
    padding: .5em
    text-decoration: none
    &:hover
      color: color-twitter
      text-decoration: none

#footer-info
  text-align: center
  line-height: line-height
  font-size: 0.85em
  margin: 10px 10px

.linksFollow
  text-align: left

  display: flex
  justify-content: space-evenly
  align-items: center
  flex-direction: column
  font-size: 0.85em
  margin: 10px 10px
 
.important
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  font-size: 0.85em
  margin: 10px 10px

.important_Header
  font-size: 0.95em
  

.important_content
  font-size: 0.85em
  padding: .2em
  margin: .4em
  border-radius: 3px
  text-decoration: none
  display inline-block
  color #333
  background-color #fff

.contact
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  font-size: 0.85em
  margin: 10px 10px
   
.contact_item
  font-size: 0.85em
  padding: .2em
  margin: .1em  
