#sidebar
  @media mq-normal
    column(sidebar-column)

.widget-wrap
  margin: block-margin 0

.widget-title
  @extend $block-caption

.widget
  color: #DAE0E2
  box-shadow: 0 -1px 1px color-widget-border inset
  border: 1px solid color-widget-border
  padding: 10px
  border-radius: 3px


  li
    margin: 3px
    display: block
    word-wrap: break-word
    hyphens: auto
    overflow-wrap: break-word
  a
    font-size: 15px
    color: #333
    text-decoration: none
    padding: 5px 0
    margin: 2px 0
    &:hover
      text-decoration: underline
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc
